<app-header-one [sticky]="true"></app-header-one>
<div class="title1 section-t-space">
  <h4 style="background-color:black; color:white">{{homepageObj.carouselSection ? homepageObj.carouselSection.topDisplayText: ''}}</h4>
  
</div>

<!-- Home slider start-->
<section class="p-t-0">
  <app-slider [sliders]="sliders" [buttonText]="'visit now'" > 
  </app-slider>
</section>
<div class="title1 section-t-space">
  <h2 class="title-inner1">SAY BYE TO BORING GIFTS</h2>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="product-para">
        <p class="text-center">
          Confetti aims to provide refreshing gifting experince to customers and platform where they can discover unique and extraordinary gifting ideas for their loved ones.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Home slider End -->



<!-- collection banner start-->
<!-- two banner -->

<section class="pb-0">
  <div class="container">
      <div class="row partition2">
        <div class="col-md-3">
          <a >
              <div class="collection-banner p-center text-center">
                  <div class="img-part">
                     
                  </div>
                  <div class="contain-banner">
                      <div>
                          
                     
                      </div>
                  </div>
              </div>
          </a>
      </div>
          <div class="col-md-3">
              <a >
                  <div class="collection-banner p-center text-center">
                      <div class="img-part">
                          <img src="assets/images/pre_packed.jpg" class="img-fluid" alt="">
                      </div>
                      <div class="contain-banner">
                          <div>
                              
                              <h2 style="color: white;font-size:30px">PREPACKED</h2>
                          </div>
                      </div>
                  </div>
              </a>
          </div>
          <div class="col-md-3">
              <a >
                  <div class="collection-banner p-center text-center">
                      <div class="img-part">
                          <img src="assets/images/toss_up.jpg" class="img-fluid" alt="">
                      </div>
                      <div class="contain-banner">
                          <div>  
                              <h2  style="color: white;font-size:30px">TossUp</h2>
                          </div>
                      </div>
                  </div>
              </a>
          </div>
          <div class="col-md-3">
            <a >
                <div class="collection-banner p-center text-center">
                    <div class="img-part">
                       
                    </div>
                    <div class="contain-banner">
                        <div>
                            
                       
                        </div>
                    </div>
                </div>
            </a>
        </div>
      </div>
  </div>
</section>
<!-- two banner -->






<!-- collection banner End -->

<!--Trendshops start-->
<div class="title1 section-t-space">
  <h2 class="title-inner1">TREND SHOPS</h2>
</div>
<section class="blog p-t-0">
  <div class="container">
<div class="row category-border">
  <div class="col-md-12">
    <owl-carousel-o [options]="BlogSliderConfig" class="no-arrow">
      <ng-container *ngFor="let imag of trendShop">
        <ng-template carouselSlide>
          <div class="col-md-8">
            
            <a >
              <div >
                <img [src]="imag.image"  class="img-fluid">
                <span></span>
              </div>
            </a>
            <div class="blog-details">
              <h4></h4>
              <a >
                <p>{{imag.text}}</p>
              </a>
              <hr class="style1">
              <h6></h6>
            </div>
             
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
</div>
</div>
</section>
<!--Trendshops start-->

<!-- Tab product start-->
<div class="title1 section-t-space">
  <h4>exclusive products</h4>
  <h2 class="title-inner1">special products</h2>
</div>

<!-- <section class="section-b-space">
  <div class="container">
      <div class="row multiple-slider">
        <div class="col-lg-3 col-sm-6" *ngIf="bestseller.length>0">
          
        </div>
          <div class="col-lg-3 col-sm-6" *ngIf="festive.length>0">
            <app-product-box-vertical-slider [products]="festive" [title]="homepageObj.tabSection.festiveOffers.tabName"></app-product-box-vertical-slider>
          </div>
          <div class="col-lg-3 col-sm-6" *ngIf="newA.length>0">
            <app-product-box-vertical-slider [products]="newA" [title]="homepageObj.tabSection.newArrival.tabName"></app-product-box-vertical-slider>
          </div>
          <div class="col-lg-3 col-sm-6" *ngIf="bestseller.length>0">
            <app-product-box-vertical-slider [products]="bestseller" [title]="homepageObj.tabSection.bestSeller.tabName"></app-product-box-vertical-slider>
          </div>
         
      </div>
  </div>
</section> -->

<section class="section-b-space p-t-0">
  <div class="container">
    <div class="row">
      <div class="col theme-tab">
        <ngb-tabset [justify]="'center'" [type]="'pills'" class="tabs tab-title">
          <ngb-tab *ngIf="festive.length>0">
            <ng-template ngbTabTitle>{{homepageObj.tabSection.festiveOffers.tabName}}</ng-template>
            <ng-template ngbTabContent>
              <!-- <div class="no-slider row">
                <ng-container *ngFor="let product of festive | slice:0:8">
                  <div class="product-box">
                    <app-product-box-one 
                      [product]="product" 
                      [currency]="productService?.Currency"
                      [onHowerChangeImage]="true"
                      [cartModal]="true">
                    </app-product-box-one>
                  </div>
                </ng-container>
              </div> -->
              <section class="blog p-t-0">
                <div class="container">
              <div class="row category-border">
                <div class="col-md-12">
                  <owl-carousel-o [options]="BlogSliderConfig" class="no-arrow">
                    <ng-container *ngFor="let product of festive">
                      <ng-template carouselSlide>
                        <div class="col-md-8">
                          <div class="product-box">
                            <app-product-box-one 
                              [product]="product" 
                              [currency]="productService?.Currency"
                              [onHowerChangeImage]="true"
                              [cartModal]="true">
                            </app-product-box-one>
                          </div>
                           
                        </div>
                      </ng-template>
                    </ng-container>
                  </owl-carousel-o>
                </div>
              </div>
              </div>
              </section>
            </ng-template>
          </ngb-tab>

          <ngb-tab *ngIf="newA.length>0">
            <ng-template ngbTabTitle>{{homepageObj.tabSection.newArrival.tabName}}</ng-template>
            <ng-template ngbTabContent>
              <section class="blog p-t-0">
                <div class="container">
              <div class="row category-border">
                <div class="col-md-12">
                  <owl-carousel-o [options]="BlogSliderConfig" class="no-arrow">
                    <ng-container *ngFor="let product of newA">
                      <ng-template carouselSlide>
                        <div class="col-md-8">
                          <div class="product-box">
                            <app-product-box-one 
                              [product]="product" 
                              [currency]="productService?.Currency"
                              [onHowerChangeImage]="true"
                              [cartModal]="true">
                            </app-product-box-one>
                          </div>
                           
                        </div>
                      </ng-template>
                    </ng-container>
                  </owl-carousel-o>
                </div>
              </div>
              </div>
              </section>


              <!-- <div class="no-slider row">
                <ng-container *ngFor="let product of newA | slice:0:8">
                  <div class="product-box">
                    <app-product-box-one 
                      [product]="product" 
                      [currency]="productService?.Currency"
                      [thumbnail]="true"
                      [cartModal]="true">
                    </app-product-box-one>
                  </div>
                </ng-container>
              </div> -->
            </ng-template>
          </ngb-tab>

          <ngb-tab  *ngIf="bestseller.length>0">
            <ng-template ngbTabTitle>{{homepageObj.tabSection.bestSeller.tabName}}</ng-template>
            <ng-template ngbTabContent>
              <section class="blog p-t-0">
                <div class="container">
              <div class="row category-border">
                <div class="col-md-12">
                  <owl-carousel-o [options]="BlogSliderConfig" class="no-arrow">
                    <ng-container *ngFor="let product of bestseller">
                      <ng-template carouselSlide>
                        <div class="col-md-8">
                          <div class="product-box">
                            <app-product-box-one 
                              [product]="product" 
                              [currency]="productService?.Currency"
                              [onHowerChangeImage]="true"
                              [cartModal]="true">
                            </app-product-box-one>
                          </div>
                           
                        </div>
                      </ng-template>
                    </ng-container>
                  </owl-carousel-o>
                </div>
              </div>
              </div>
              </section>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
</section>
<!-- Tab product End -->

<!-- Parallax banner start-->
<section class="p-0">
  <div class="full-banner parallax-banner1 parallax text-center p-left"
    [ngStyle]="{'background-image': 'url(assets/images/banner123.jpg)'}">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="banner-contain">
            <h2></h2>
            <h3>THE MANNER OF GIVING IS WORTH MORE THAN THE GIFT</h3>
            <h4>special offer</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Parallax banner End -->

<!-- shop by price start-->
<div class="title1 section-t-space">
  <h2 class="title-inner1">SHOP BY PRICE</h2>
</div>

<section class="p-0">
  <div class="container-fluid">
      <div class="row category-border">
        <div class="col-sm-3 border-padding">
          <div class="category-banner">
              <div>
                  <img src="assets/images/shop-2.png" class="img-fluid" alt="">
              </div>
              <div class="category-box">
                  <a [routerLink]="['/shop/collection/left/sidebar']" [queryParams]="{ category: 'fashion'}">
                      <h2>below 500</h2>
                  </a>
              </div>
          </div>
      </div>
      <div class="col-sm-3 border-padding">
          <div class="category-banner">
              <div>
                  <img src="assets/images/shop-3.png" class="img-fluid" alt="">
              </div>
              <div class="category-box">
                  <a [routerLink]="['/shop/collection/left/sidebar']" [queryParams]="{ category: 'fashion'}">
                      <h2>500-1000</h2>
                  </a>
              </div>
          </div>
      </div>
          <div class="col-sm-3 border-padding">
              <div class="category-banner">
                  <div>
                      <img src="assets/images/shop-1.png" class="img-fluid" alt="">
                  </div>
                  <div class="category-box">
                      <a [routerLink]="['/shop/collection/left/sidebar']" [queryParams]="{ category: 'fashion'}">
                          <h2>1000-2000</h2>
                      </a>
                  </div>
              </div>
          </div>
         
          <div class="col-sm-3 border-padding">
            <div class="category-banner">
                <div>
                    <img src="assets/images/shop-4.png" class="img-fluid" alt="">
                </div>
                <div class="category-box">
                    <a [routerLink]="['/shop/collection/left/sidebar']" [queryParams]="{ category: 'fashion'}">
                        <h2>2000-3500</h2>
                    </a>
                </div>
            </div>
        </div>
      </div>
  </div>
</section>


<!-- sample banner end-->

<!-- Shop by price End -->

<!-- shop by occasion start-->
<div class="title1 section-t-space">
  <h2 class="title-inner1">SHOP BY CATEGORY</h2>
</div>
<section class="p-0">
  <div class="container-fluid">
      <div class="row category-border">
          <div class="col-sm-3 border-padding">
              <div class="category-banner">
                  <div>
                      <img src="assets/images/shop-1.png" class="img-fluid" alt="">
                  </div>
                  <div class="category-box">
                      <a [routerLink]="['/shop/collection/left/sidebar']" [queryParams]="{ category: 'fashion'}">
                          <h2>Anniversary</h2>
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-3 border-padding">
              <div class="category-banner">
                  <div>
                      <img src="assets/images/shop-2.png" class="img-fluid" alt="">
                  </div>
                  <div class="category-box">
                      <a [routerLink]="['/shop/collection/left/sidebar']" [queryParams]="{ category: 'fashion'}">
                          <h2>Birthday</h2>
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-3 border-padding">
              <div class="category-banner">
                  <div>
                      <img src="assets/images/shop-3.png" class="img-fluid" alt="">
                  </div>
                  <div class="category-box">
                      <a [routerLink]="['/shop/collection/left/sidebar']" [queryParams]="{ category: 'fashion'}">
                          <h2>Special</h2>
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-3 border-padding">
            <div class="category-banner">
                <div>
                    <img src="assets/images/shop-4.png" class="img-fluid" alt="">
                </div>
                <div class="category-box">
                    <a [routerLink]="['/shop/collection/left/sidebar']" [queryParams]="{ category: 'fashion'}">
                        <h2>kids</h2>
                    </a>
                </div>
            </div>
        </div>
      </div>
  </div>
</section>
<!-- Shop by occasion End -->
<!-- services start-->
<div class="container">
  <section class="service border-section small-section">
    <div class="container section-t-space">
      <h2 class="title-inner1">{{homepageObj.whyShopSection?homepageObj.whyShopSection.displayText:''}}</h2>
      <section class="service border-section small-section ">
          <div class="row">
              <div *ngFor="let col of services" class="col-md-4 service-block">
                  <div class="media">
                      <img [src]="col.displayImg" alt="" />
                      <div class="media-body">
                          <h4>{{col.displayText}}</h4>
                          <p>{{col.displaySubText}}</p>
                      </div>
                  </div>
              </div>
            </div>
      </section>
    </div>
  </section>
</div>
<!-- services End -->
<!-- blog section start-->
<section class="blog p-t-0">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="title1 section-t-space">
          <h4>Recent Story</h4>
          <h2 class="title-inner1">from the blog</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <app-blog [blogs]="blog"></app-blog>
      </div>
    </div>
  </div>
</section>
<!-- blog section End -->

<!-- Product slider start-->
<!-- <div class="title1 section-t-space">
  <h4>special offer</h4>
  <h2 class="title-inner1">top collection</h2>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="product-para">
        <p class="text-center">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry, 
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
        </p>
      </div>
    </div>
  </div>
</div>
<section class="section-b-space p-t-0">
  <div class="container">
    <div class="row">
      <div class="col">
        <owl-carousel-o class="product-m no-arrow" [options]="ProductSliderConfig">
          <ng-container *ngFor="let product of products | slice:0:16">
            <ng-template carouselSlide>
              <div class="product-box">
                <app-product-box-one 
                  [product]="product" 
                  [currency]="productService?.Currency"
                  [thumbnail]="true"
                  [cartModal]="true">
                </app-product-box-one>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section> -->
<!-- Product slider End -->









<!-- Instagram section -->
<!-- <section class="instagram">
  <div class="container-fluid ">
    <div class="row">
      <div class="col-md-12 p-0">
        <h2 class="title-borderless"># instagram</h2>
        <app-instagram></app-instagram>
      </div>
    </div>
  </div>
</section> -->
<!-- Instagram section End -->

<!--  logo section start-->
<!-- <section class="section-b-space">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <app-logo [logos]="logo"></app-logo>
      </div>
    </div>
  </div>
</section> -->
<!--  logo section End-->

<app-newsletter></app-newsletter>
<app-footer-one></app-footer-one>

