<div class="container section-t-space">
  <section class="service border-section small-section ">
      <div class="row">
          <div class="col-md-4 service-block">
              <div class="media">
                  <img src="assets/images/icon/service1.png" alt="" />
                  <div class="media-body">
                      <h4>free shipping</h4>
                      <p>free shipping world wide</p>
                  </div>
              </div>
          </div>
          <div class="col-md-4 service-block">
              <div class="media">
                  <img src="assets/images/icon/service2.png" alt="" />
                  <div class="media-body">
                      <h4>24 X 7 service</h4>
                      <p>online service for new customer</p>
                  </div>
              </div>
          </div>
          <div class="col-md-4 service-block">
              <div class="media">
                  <img src="assets/images/icon/service3.png" alt="" />
                  <div class="media-body">
                      <h4>festival offer</h4>
                      <p>new online special festival offer</p>
                  </div>
              </div>
          </div>
      </div>
  </section>
</div>