<app-breadcrumb [title]="'Register'" [breadcrumb]="'Register'"></app-breadcrumb>
<!-- section start -->
<section class="register-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>create account</h3>
                <div class="theme-card">
                    <form class="theme-form">
                        <div class="form-row">
                            <div class="col-md-4">
                                <label for="email">First Name*</label>
                                <input type="text" [(ngModel)]="registerObj.firstName" class="form-control" name="fname" placeholder="First Name" required="">
                            </div>
                            <div class="col-md-4">
                                <label for="review">Last Name*</label>
                                <input type="text" class="form-control" [(ngModel)]="registerObj.lastName" name="lname" placeholder="Last Name" required="">
                            </div>
                            <div class="col-md-4">
                                <label for="review">Date of birth*</label>
                                <input type="text"  class="form-control" name="dob" [(ngModel)]="registerObj.dateOfBirth"  mask="9999/99/99" placeholder="yyyy/mm/dd" required="">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4">
                                <label for="email">email*</label>
                                <input type="text" class="form-control" [(ngModel)]="registerObj.emailId"  name="email" placeholder="Email" required="">
                            </div>
                            <div class="col-md-4">
                                <label for="review">Password*</label>
                                <input type="password" [(ngModel)]="registerObj.password" class="form-control" name="review" placeholder="Enter your password" required="">
                            </div>
                            
                        </div>
                        <div class="form-row">
                            <div class="col-md-1">
                                <label for="email">countryCode</label>
                                <input type="text" class="form-control" [(ngModel)]="registerObj.countryCode" mask="+00" name="country" placeholder="ex. +91" required="">
                            </div>
                            <div class="col-md-3">
                                <label for="review">Phone Number*</label>
                                <input type="text" class="form-control" [(ngModel)]="registerObj.mobileNo" mask="9999999999"  name="pnumber" placeholder="Phone Number" required="">
                            </div>
                            <div class="col-md-2 select_input">
                                <label for="review">Gender*</label>
                                <select  class="form-control" name="gender" [(ngModel)]="registerObj.gender" size="1">
                                    <option disabled>Select</option>
                                    <option [ngValue]="'Male'">Male</option>
                                    <option [ngValue]="'Female'">Female</option>
                                </select>
                            </div>
                        </div>
                        
                        <button class="btn btn-solid" (click)="signUp()">create Account</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->